body {
    font-family: Arial;
    text-align: center;
    background: #f5f5f5;
}

.container {
    margin-top: 30px;
}

.tshirt-box {
    position: relative;
    width: 300px;
    margin: auto;
    border: 2px dashed #ccc;
    background: white;
}

.tshirt-box img {
    width: 100%;
}

#design {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    cursor: move;
    border: 1px dashed #000;
}

#sizeControl {
    margin-top: 15px;
    width: 200px;
}

#printArea {
    position: absolute;
    top: 55px;
    left: 70px;
    width: 160px;
    height: 220px;
    border: 2px dashed red;
    overflow: hidden;
}
